.card {
  position: relative;
  width: 200px; /* Tamanho padrão para os cards */
  height: 300px; /* Mantém a proporção 2:3 */
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #141414;
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem mantenha a proporção */
}

.card:hover {
  transform: scale(1.1); /* Efeito de zoom */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); /* Destaque na interação */
}
