@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.page {
  background-color: #111; /* Cor de fundo escura */
  min-height: 100vh; /* Para que a página ocupe a altura total da tela */
  color: rgb(216, 216, 216);
}

.loading {
  position: fixed; /* Fixa o loading na tela */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99; /* Garante que o loading fique por cima de outros elementos */
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  width: 150px; /* Ajuste o tamanho conforme necessário */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #141414cb;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

header {
  position: absolute; /* Posicionamento absoluto para sobreposição */
  height: 70px;
  min-height: 65;
  top: 0;
  left: O;
  width: 100%;
  z-index: 2; /* Garante que o header fique acima da imagem */
  background-color: rgba(0, 0, 0, 0.1); /* fundo com transparencia */
  padding:0px; /* Espaçamento interno */
  transition: background-color 0.3s ease; /* Transição suave */
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: red;
}

header:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Fundo mais escuro ao passar o mouse */
}

.error-message {
  color: red;
  text-align: center;
  margin: 20px 0;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Cards responsivos */
  grid-gap: 20px; /* Espaçamento entre os itens do grid */
  padding: 20px;
  justify-content: center; /* Centraliza o grid na tela */
}

.movie-card {
  background-color: #1c1c1c;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  position: relative; /* Necessário para posicionar o rating */
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.movie-image-container {
  position: relative;
  padding-bottom: 56.25%; /* Aspect ratio 16:9 */
  overflow: hidden;
}

.movie-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* Remove espaço extra abaixo da imagem */
}

.movie-title {
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0; /* Remove margens padrão do <p> */
}

.rating {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
}


.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  background-color: #1c1c1c;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   position: relative;
  transition: all ease 0,2s;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.movie-image-container {
  position: relative;
  padding-bottom: 400px;
  overflow: hidden;
}