@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.page {
  background-color: #111; /* Cor de fundo escura */
  min-height: 100vh; /* Garante que a página ocupe a altura total da tela */
  color: rgb(216, 216, 216);
}

.loading {
  position: fixed; /* Fixa o loading na tela */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99; /* Garante que o loading fique por cima de outros elementos */
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  width: 150px; /* Ajuste o tamanho conforme necessário */
}

.page {
  background-color: #111; /* Cor de fundo escura */
  min-height: 100vh; /* Garante que a página ocupe a altura total da tela */
  color: white;
}

.loading {
  position: fixed; /* Fixa o loading na tela */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99; /* Garante que o loading fique por cima de outros elementos */
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  width: 150px; /* Ajuste o tamanho conforme necessário */
}